h* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header styling*/
.header {
  padding: 30px;
  text-align: center;
  background: #ddd;
}

/* aside styling */
.about,
.post,
.follow {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 1px;
}
.card-img {
  width: 100%;
  height: 100%;
}

/*Styling for card*/
.card {
  box-shadow: 0 4px 8px 0 rgb(45, 48, 45);
  max-width: 30%x;
}
.card-body {
  background-color: #ddd;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card-title {
  font-size: 1.2rem;
}
.card-subtitle {
  color: grey;
}
.card-text {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
button {
  border: none;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: rgb(53, 61, 53);
  color: aliceblue;
}
button:hover,
a:hover {
  opacity: 0.5;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
